// ### Primary
//  Linear gradient (active input border)
$Linear-gradient:from hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
// Red (input errors)
$Red: hsl(0, 100%, 66%);

// ### Neutral
$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);
$Very-dark-violet2: hsl(278, 76%, 22%);
